modules/bpels/CreateArtifact/CreateArtifact.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://build.core.appfactory.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax219="http://common.appfactory.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://build.core.appfactory.carbon.wso2.org">
    <wsdl:documentation>ArtifactCreator</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax220="http://common.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://build.core.appfactory.carbon.wso2.org">
            <xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd"/>
            <xs:element name="ArtifactCreatorAppFactoryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppFactoryException" nillable="true" type="ax220:AppFactoryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="doDeploy" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="deployStage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="AppFactoryException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createArtifactRequest">
        <wsdl:part name="parameters" element="ns:createArtifact"/>
    </wsdl:message>
    <wsdl:message name="ArtifactCreatorAppFactoryException">
        <wsdl:part name="parameters" element="ns:ArtifactCreatorAppFactoryException"/>
    </wsdl:message>
    <wsdl:portType name="ArtifactCreatorPortType">
        <wsdl:operation name="createArtifact">
            <wsdl:input message="ns:createArtifactRequest" wsaw:Action="urn:createArtifact"/>
            <wsdl:fault message="ns:ArtifactCreatorAppFactoryException" name="ArtifactCreatorAppFactoryException" wsaw:Action="urn:createArtifactArtifactCreatorAppFactoryException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArtifactCreatorSoap11Binding" type="ns:ArtifactCreatorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createArtifact">
            <soap:operation soapAction="urn:createArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="ArtifactCreatorAppFactoryException">
                <soap:fault use="literal" name="ArtifactCreatorAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ArtifactCreatorSoap12Binding" type="ns:ArtifactCreatorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createArtifact">
            <soap12:operation soapAction="urn:createArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="ArtifactCreatorAppFactoryException">
                <soap12:fault use="literal" name="ArtifactCreatorAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ArtifactCreatorHttpBinding" type="ns:ArtifactCreatorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createArtifact">
            <http:operation location="createArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArtifactCreator">
        <wsdl:port name="ArtifactCreatorHttpsSoap11Endpoint" binding="ns:ArtifactCreatorSoap11Binding">
            <soap:address location="https://localhost:9443/services/ArtifactCreator.ArtifactCreatorHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactCreatorHttpsSoap12Endpoint" binding="ns:ArtifactCreatorSoap12Binding">
            <soap12:address location="https://localhost:9443/services/ArtifactCreator.ArtifactCreatorHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactCreatorHttpsEndpoint" binding="ns:ArtifactCreatorHttpBinding">
            <http:address location="https://localhost:9443/services/ArtifactCreator.ArtifactCreatorHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
