modules/service-stubs/org.wso2.carbon.appfactory.application.deployer.stub/src/main/resources/ApplicationDeployer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax233="http://dto.core.appfactory.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://deploy.core.appfactory.carbon.wso2.org" xmlns:ax231="http://common.appfactory.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax237="http://deploy.core.appfactory.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax235="http://io.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org">
    <wsdl:documentation>ApplicationDeployer</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="AppFactoryException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax235:File"></xs:element>
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax235:File"></xs:element>
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="directory" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="file" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long"></xs:element>
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax235:File"></xs:element>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long"></xs:element>
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax232="http://common.appfactory.carbon.wso2.org/xsd" xmlns:ax236="http://io.java/xsd" xmlns:ax238="http://deploy.core.appfactory.carbon.wso2.org/xsd" xmlns:ax234="http://dto.core.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org">
            <xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.core.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://io.java/xsd"></xs:import>
            <xs:import namespace="http://deploy.core.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="ApplicationDeployerAppFactoryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppFactoryException" nillable="true" type="ax232:AppFactoryException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactInformation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactInformationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax233:Version"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateDeploymentInformation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="buildId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax236:File"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="deployAction" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="repoFrom" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax238:ArtifactDeploymentStatusBean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unDeployArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unDeployArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTagNamesOfPersistedArtifacts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTagNamesOfPersistedArtifactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.core.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="Version">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="autoBuild" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="autoDeploy" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="currentBuildStatus" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lastBuildStatus" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lastDeployedId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="productionMappedDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="promoteStatus" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="repoURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="ArtifactDeploymentStatusBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="deploymentServer" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="statusDescription" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="successful" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="unDeployArtifactRequest">
        <wsdl:part name="parameters" element="ns:unDeployArtifact"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="unDeployArtifactResponse">
        <wsdl:part name="parameters" element="ns:unDeployArtifactResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ApplicationDeployerAppFactoryException">
        <wsdl:part name="parameters" element="ns:ApplicationDeployerAppFactoryException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployArtifactRequest">
        <wsdl:part name="parameters" element="ns:deployArtifact"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deployArtifactResponse">
        <wsdl:part name="parameters" element="ns:deployArtifactResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getArtifactDetailsRequest">
        <wsdl:part name="parameters" element="ns:getArtifactDetails"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getArtifactDetailsResponse">
        <wsdl:part name="parameters" element="ns:getArtifactDetailsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTagNamesOfPersistedArtifactsRequest">
        <wsdl:part name="parameters" element="ns:getTagNamesOfPersistedArtifacts"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTagNamesOfPersistedArtifactsResponse">
        <wsdl:part name="parameters" element="ns:getTagNamesOfPersistedArtifactsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStageRequest">
        <wsdl:part name="parameters" element="ns:getStage"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStageResponse">
        <wsdl:part name="parameters" element="ns:getStageResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateDeploymentInformationRequest">
        <wsdl:part name="parameters" element="ns:updateDeploymentInformation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getArtifactInformationRequest">
        <wsdl:part name="parameters" element="ns:getArtifactInformation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getArtifactInformationResponse">
        <wsdl:part name="parameters" element="ns:getArtifactInformationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ApplicationDeployerPortType">
        <wsdl:operation name="unDeployArtifact">
            <wsdl:input message="ns:unDeployArtifactRequest" wsaw:Action="urn:unDeployArtifact"></wsdl:input>
            <wsdl:output message="ns:unDeployArtifactResponse" wsaw:Action="urn:unDeployArtifactResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:unDeployArtifactApplicationDeployerAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployArtifact">
            <wsdl:input message="ns:deployArtifactRequest" wsaw:Action="urn:deployArtifact"></wsdl:input>
            <wsdl:output message="ns:deployArtifactResponse" wsaw:Action="urn:deployArtifactResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:deployArtifactApplicationDeployerAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactDetails">
            <wsdl:input message="ns:getArtifactDetailsRequest" wsaw:Action="urn:getArtifactDetails"></wsdl:input>
            <wsdl:output message="ns:getArtifactDetailsResponse" wsaw:Action="urn:getArtifactDetailsResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:getArtifactDetailsApplicationDeployerAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTagNamesOfPersistedArtifacts">
            <wsdl:input message="ns:getTagNamesOfPersistedArtifactsRequest" wsaw:Action="urn:getTagNamesOfPersistedArtifacts"></wsdl:input>
            <wsdl:output message="ns:getTagNamesOfPersistedArtifactsResponse" wsaw:Action="urn:getTagNamesOfPersistedArtifactsResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:getTagNamesOfPersistedArtifactsApplicationDeployerAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <wsdl:input message="ns:getStageRequest" wsaw:Action="urn:getStage"></wsdl:input>
            <wsdl:output message="ns:getStageResponse" wsaw:Action="urn:getStageResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:getStageApplicationDeployerAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateDeploymentInformation">
            <wsdl:input message="ns:updateDeploymentInformationRequest" wsaw:Action="urn:updateDeploymentInformation"></wsdl:input>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:updateDeploymentInformationApplicationDeployerAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactInformation">
            <wsdl:input message="ns:getArtifactInformationRequest" wsaw:Action="urn:getArtifactInformation"></wsdl:input>
            <wsdl:output message="ns:getArtifactInformationResponse" wsaw:Action="urn:getArtifactInformationResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:getArtifactInformationApplicationDeployerAppFactoryException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationDeployerSoap11Binding" type="ns:ApplicationDeployerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="unDeployArtifact">
            <soap:operation soapAction="urn:unDeployArtifact" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployArtifact">
            <soap:operation soapAction="urn:deployArtifact" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactDetails">
            <soap:operation soapAction="urn:getArtifactDetails" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTagNamesOfPersistedArtifacts">
            <soap:operation soapAction="urn:getTagNamesOfPersistedArtifacts" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <soap:operation soapAction="urn:getStage" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateDeploymentInformation">
            <soap:operation soapAction="urn:updateDeploymentInformation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactInformation">
            <soap:operation soapAction="urn:getArtifactInformation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationDeployerSoap12Binding" type="ns:ApplicationDeployerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="unDeployArtifact">
            <soap12:operation soapAction="urn:unDeployArtifact" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployArtifact">
            <soap12:operation soapAction="urn:deployArtifact" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactDetails">
            <soap12:operation soapAction="urn:getArtifactDetails" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTagNamesOfPersistedArtifacts">
            <soap12:operation soapAction="urn:getTagNamesOfPersistedArtifacts" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <soap12:operation soapAction="urn:getStage" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateDeploymentInformation">
            <soap12:operation soapAction="urn:updateDeploymentInformation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactInformation">
            <soap12:operation soapAction="urn:getArtifactInformation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationDeployerHttpBinding" type="ns:ApplicationDeployerPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="unDeployArtifact">
            <http:operation location="unDeployArtifact"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployArtifact">
            <http:operation location="deployArtifact"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArtifactDetails">
            <http:operation location="getArtifactDetails"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTagNamesOfPersistedArtifacts">
            <http:operation location="getTagNamesOfPersistedArtifacts"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <http:operation location="getStage"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateDeploymentInformation">
            <http:operation location="updateDeploymentInformation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getArtifactInformation">
            <http:operation location="getArtifactInformation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationDeployer">
        <wsdl:port name="ApplicationDeployerHttpsSoap11Endpoint" binding="ns:ApplicationDeployerSoap11Binding">
            <soap:address location="https://apps.appfactory.private.wso2.com:9443/services/ApplicationDeployer.ApplicationDeployerHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ApplicationDeployerHttpsSoap12Endpoint" binding="ns:ApplicationDeployerSoap12Binding">
            <soap12:address location="https://apps.appfactory.private.wso2.com:9443/services/ApplicationDeployer.ApplicationDeployerHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ApplicationDeployerHttpsEndpoint" binding="ns:ApplicationDeployerHttpBinding">
            <http:address location="https://apps.appfactory.private.wso2.com:9443/services/ApplicationDeployer.ApplicationDeployerHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>