modules/service-stubs/org.wso2.carbon.appfactory.artifact.storage.stub/src/main/resources/ArtifactStorageService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://service.storage.artifact.appfactory.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://service.storage.artifact.appfactory.carbon.wso2.org">
    <wsdl:documentation>ArtifactStorageService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://service.storage.artifact.appfactory.carbon.wso2.org">
            <xs:element name="storeArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="storeArtifactRequest">
        <wsdl:part name="parameters" element="ns:storeArtifact"/>
    </wsdl:message>
    <wsdl:message name="retrieveArtifactRequest">
        <wsdl:part name="parameters" element="ns:retrieveArtifact"/>
    </wsdl:message>
    <wsdl:message name="retrieveArtifactResponse">
        <wsdl:part name="parameters" element="ns:retrieveArtifactResponse"/>
    </wsdl:message>
    <wsdl:portType name="ArtifactStorageServicePortType">
        <wsdl:operation name="storeArtifact">
            <wsdl:input message="ns:storeArtifactRequest" wsaw:Action="urn:storeArtifact"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveArtifact">
            <wsdl:input message="ns:retrieveArtifactRequest" wsaw:Action="urn:retrieveArtifact"/>
            <wsdl:output message="ns:retrieveArtifactResponse" wsaw:Action="urn:retrieveArtifactResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArtifactStorageServiceSoap11Binding" type="ns:ArtifactStorageServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="storeArtifact">
            <soap:operation soapAction="urn:storeArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="retrieveArtifact">
            <soap:operation soapAction="urn:retrieveArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ArtifactStorageServiceSoap12Binding" type="ns:ArtifactStorageServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="storeArtifact">
            <soap12:operation soapAction="urn:storeArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="retrieveArtifact">
            <soap12:operation soapAction="urn:retrieveArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ArtifactStorageServiceHttpBinding" type="ns:ArtifactStorageServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="storeArtifact">
            <http:operation location="storeArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="retrieveArtifact">
            <http:operation location="retrieveArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArtifactStorageService">
        <wsdl:port name="ArtifactStorageServiceHttpsSoap11Endpoint" binding="ns:ArtifactStorageServiceSoap11Binding">
            <soap:address
                    location="https://appfactory.example.com:9443/services/ArtifactStorageService.ArtifactStorageServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactStorageServiceHttpsSoap12Endpoint" binding="ns:ArtifactStorageServiceSoap12Binding">
            <soap12:address
                    location="https://appfactory.example.com:9443/services/ArtifactStorageService.ArtifactStorageServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactStorageServiceHttpsEndpoint" binding="ns:ArtifactStorageServiceHttpBinding">
            <http:address
                    location="https://appfactory.example.com:9443/services/ArtifactStorageService.ArtifactStorageServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
