modules/integration/tests-integration/tests-scenarios/src/test/resources/automationXMLSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="automation_mapping.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="automation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="configurations">
                    <xs:annotation>
                        <xs:documentation>=================================================
                            Parameters =================================================
                            Browser type with used by framework to execute UI test, supported types
                            - chrome|firefox|opera|ie|htmlUnit
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="deploymentDelay">
                                <xs:annotation>
                                    <xs:documentation>Change this to edit wait time for test
                                        artifact deployment
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:string" name="executionEnvironment">
                                <xs:annotation>
                                    <xs:documentation>Change this to product|platform/cloud to
                                        execute test on specific environment
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>

                            <xs:element type="xs:string" name="coverage">
                                <xs:annotation>
                                    <xs:documentation>Change this to true if you want to generate
                                        coverage statistics
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element type="xs:string" name="frameworkDashboard">
                                <xs:annotation>
                                    <xs:documentation>Change this to true if you want to enable
                                        framework dashboard
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tools">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="selenium">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="remoteDriverUrl">
                                            <xs:annotation>
                                                <xs:documentation>Change to enable remote webDriver
                                                    URL of remote webDriver server
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:anyURI">
                                                        <xs:attribute type="xs:string"
                                                                      name="enable"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="browser">
                                            <xs:annotation>
                                                <xs:documentation>Type of the browser selenium tests
                                                    are running"
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string"
                                                                name="browserType"/>
                                                    <xs:element name="webdriverPath">
                                                        <xs:annotation>
                                                            <xs:documentation>path to webDriver
                                                                executable - required only for
                                                                chrome
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string"
                                                                                  name="enable"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="datasources">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="datasource" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="url"/>
                                        <xs:element type="xs:string" name="username"/>
                                        <xs:element type="xs:string" name="password"/>
                                        <xs:element type="xs:string" name="driverClassName"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="security">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="keystore" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>KeyStore which will be used for
                                        encrypting/decrypting passwords
                                        and other sensitive information.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="fileName">
                                            <xs:annotation>
                                                <xs:documentation>Keystore file location
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="xs:string" name="type">
                                            <xs:annotation>
                                                <xs:documentation>Keystore type (JKS/PKCS12 etc.)
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="xs:string" name="password">
                                            <xs:annotation>
                                                <xs:documentation>Keystore password
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="xs:string" name="keyAlias">
                                            <xs:annotation>
                                                <xs:documentation>Private Key alias
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="xs:string" name="keyPassword">
                                            <xs:annotation>
                                                <xs:documentation>Private Key password
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="truststore" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>System wide trust-store which is used to
                                        maintain the certificates of all
                                        the trusted parties.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="fileName">
                                            <xs:annotation>
                                                <xs:documentation>trust-store file location
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="xs:string" name="type">
                                            <xs:annotation>
                                                <xs:documentation>trust-store type (JKS/PKCS12
                                                    etc.)
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element type="xs:string" name="password">
                                            <xs:annotation>
                                                <xs:documentation>trust-store password
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="featureManagement">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="p2Repositories">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="repository">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="repository"
                                                                maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string"
                                                                                  name="repo-id"
                                                                                  use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="userManagement">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="superTenant">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenant">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="admin">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="user">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                    type="xs:string"
                                                                                    name="userName"/>
                                                                            <xs:element
                                                                                    type="xs:string"
                                                                                    name="password"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute
                                                                                type="xs:string"
                                                                                name="key"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="users">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="user"
                                                                            maxOccurs="unbounded"
                                                                            minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                    type="xs:string"
                                                                                    name="userName"/>
                                                                            <xs:element
                                                                                    type="xs:string"
                                                                                    name="password"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute
                                                                                type="xs:string"
                                                                                name="key"
                                                                                use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="key"
                                                              use="required"/>
                                                <xs:attribute type="xs:string" name="domain"
                                                              use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tenants">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tenant" maxOccurs="unbounded"
                                                    minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="admin">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="user">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                    type="xs:string"
                                                                                    name="userName"/>
                                                                            <xs:element
                                                                                    type="xs:string"
                                                                                    name="password"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute
                                                                                type="xs:string"
                                                                                name="key"
                                                                                use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="users">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="user"
                                                                            maxOccurs="unbounded"
                                                                            minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                    type="xs:string"
                                                                                    name="userName"/>
                                                                            <xs:element
                                                                                    type="xs:string"
                                                                                    name="password"/>
                                                                        </xs:sequence>
                                                                        <xs:attribute
                                                                                type="xs:string"
                                                                                name="key"
                                                                                use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="key"
                                                              use="required"/>
                                                <xs:attribute type="xs:string" name="domain"
                                                              use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="platform">

                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="productGroup" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="1">
                                        <xs:element name="instance">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="hosts">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="host"
                                                                            maxOccurs="unbounded"
                                                                            minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension
                                                                                    base="xs:string">
                                                                                <xs:attribute
                                                                                        type="xs:string"
                                                                                        name="type"
                                                                                        use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="ports">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="port"
                                                                            maxOccurs="unbounded"
                                                                            minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension
                                                                                    base="xs:string">
                                                                                <xs:attribute
                                                                                        type="xs:string"
                                                                                        name="type"
                                                                                        use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="properties">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="property"
                                                                            maxOccurs="unbounded"
                                                                            minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension
                                                                                    base="xs:string">
                                                                                <xs:attribute
                                                                                        type="xs:string"
                                                                                        name="name"
                                                                                        use="optional"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>

                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name"
                                                              use="required"/>
                                                <xs:attribute type="xs:string" name="type"
                                                              use="required"/>
                                                <xs:attribute type="xs:boolean"
                                                              name="nonBlockingTransportEnabled"
                                                              use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute type="xs:string" name="name"/>
                                    <xs:attribute type="xs:string" name="clusteringEnabled"/>
                                    <xs:attribute type="xs:boolean" name="default"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="listenerExtensions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="platformExecutionManager">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="extentionClasses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="className"
                                                                maxOccurs="unbounded"
                                                                minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PlatformSuiteManager">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="extentionClasses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="className"
                                                                maxOccurs="unbounded"
                                                                minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PlatformAnnotationTransferManager">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="extentionClasses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="className"
                                                                maxOccurs="unbounded"
                                                                minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PlatformTestManager">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="extentionClasses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="className"
                                                                maxOccurs="unbounded"
                                                                minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PlatformReportManager">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="extentionClasses">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="className"
                                                                maxOccurs="unbounded"
                                                                minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="appFactoryProperties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="urls">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="appFactory"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="prodStratosController"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="bps"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="git"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="s2git"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="bam"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="api"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="jenkins"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="credentials">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="gituser"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="gituserpass"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="jenkinsuser"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="jenkinsuserpass"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="s2gituser"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="s2gituserpass"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="defaultTenant">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="firstName"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="lastName"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="email"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="admin"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="adminPassword"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="tenantDomain"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="tenantID"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="usagePlan"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="defaultApplication">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="applicationName"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="applicationKey"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="applicationType"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="applicationDescription"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="defaultVersion"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="defaultArtifactVersion"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="runtimeAlias"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="defaultStage"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="extension"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element name="versions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="version" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="sourceVersion"/>
                                                                <xs:element type="xs:string" name="targetVersion"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="key" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="defaultAPI">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="useNAme"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="password"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="addPayload"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="publishPayload"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:string" name="subscribePayload"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="domainMapping">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="domainName"
                                                    maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>