modules/service-stubs/org.wso2.carbon.appfactory.jenkins.build.stub/src/main/resources/JenkinsCIBuildStatusReceiverService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.build.jenkins.appfactory.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax238="http://service.build.jenkins.appfactory.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.build.jenkins.appfactory.carbon.wso2.org">
    <wsdl:documentation>JenkinsCIBuildStatusRecieverService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.build.jenkins.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="BuildStatusBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="artifactType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="buildId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="buildSuccessful" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="logMsg" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax239="http://service.build.jenkins.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.build.jenkins.appfactory.carbon.wso2.org">
            <xs:import namespace="http://service.build.jenkins.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="onBuildCompletion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="buildStatus" nillable="true" type="ax238:BuildStatusBean"></xs:element>
                        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary"></xs:element>
                        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="onBuildCompletionRequest">
        <wsdl:part name="parameters" element="ns:onBuildCompletion"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="JenkinsCIBuildStatusRecieverServicePortType">
        <wsdl:operation name="onBuildCompletion">
            <wsdl:input message="ns:onBuildCompletionRequest" wsaw:Action="urn:onBuildCompletion"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JenkinsCIBuildStatusRecieverServiceSoap11Binding" type="ns:JenkinsCIBuildStatusRecieverServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="onBuildCompletion">
            <soap:operation soapAction="urn:onBuildCompletion" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JenkinsCIBuildStatusRecieverServiceSoap12Binding" type="ns:JenkinsCIBuildStatusRecieverServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="onBuildCompletion">
            <soap12:operation soapAction="urn:onBuildCompletion" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JenkinsCIBuildStatusRecieverServiceHttpBinding" type="ns:JenkinsCIBuildStatusRecieverServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="onBuildCompletion">
            <http:operation location="onBuildCompletion"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JenkinsCIBuildStatusRecieverService">
        <wsdl:port name="JenkinsCIBuildStatusRecieverServiceHttpsSoap11Endpoint" binding="ns:JenkinsCIBuildStatusRecieverServiceSoap11Binding">
            <soap:address location="https://milestones.appfactory.wso2.com:9443/services/JenkinsCIBuildStatusRecieverService.JenkinsCIBuildStatusRecieverServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="JenkinsCIBuildStatusRecieverServiceHttpsSoap12Endpoint" binding="ns:JenkinsCIBuildStatusRecieverServiceSoap12Binding">
            <soap12:address location="https://milestones.appfactory.wso2.com:9443/services/JenkinsCIBuildStatusRecieverService.JenkinsCIBuildStatusRecieverServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="JenkinsCIBuildStatusRecieverServiceHttpsEndpoint" binding="ns:JenkinsCIBuildStatusRecieverServiceHttpBinding">
            <http:address location="https://milestones.appfactory.wso2.com:9443/services/JenkinsCIBuildStatusRecieverService.JenkinsCIBuildStatusRecieverServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
