modules/bpels/GovernanceBPEL/ApplicationManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service.mgt.application.appfactory.carbon.wso2.org" xmlns:ax239="http://service.mgt.application.appfactory.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax245="http://deploy.core.appfactory.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax241="http://dto.core.appfactory.carbon.wso2.org/xsd" xmlns:ax243="http://common.appfactory.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.mgt.application.appfactory.carbon.wso2.org">
    <wsdl:documentation>ApplicationManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.mgt.application.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="ApplicationManagementException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserApplications">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="applications" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userNam" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="AppFactoryException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax246="http://deploy.core.appfactory.carbon.wso2.org/xsd" xmlns:ax240="http://service.mgt.application.appfactory.carbon.wso2.org/xsd" xmlns:ax242="http://dto.core.appfactory.carbon.wso2.org/xsd" xmlns:ax244="http://common.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.mgt.application.appfactory.carbon.wso2.org">
            <xs:import namespace="http://service.mgt.application.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.core.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://deploy.core.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="ApplicationManagementServiceApplicationManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ApplicationManagementException" nillable="true" type="ax240:ApplicationManagementException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateRxtWithPromoteState">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishSetApplicationAutoDeploy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="isAutoDeployable" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishSetApplicationAutoBuild">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="isAutoBuildable" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishForkRepository">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="forkedUser" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishApplicationVersionCreation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="sourceVersion" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="targetVersion" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishApplicationCreation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isApplicationIdAvailable">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isApplicationIdAvailableResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationsOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationsOfUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax240:UserApplications"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax242:Application"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ApplicationManagementServiceAppFactoryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppFactoryException" nillable="true" type="ax244:AppFactoryException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVersionsOfApplicationPerUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVersionsOfApplicationPerUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax246:Artifact"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVersionsOfApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllVersionsOfApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax246:Artifact"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCreatedApplications">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllCreatedApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplications">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax242:Application"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="application" nillable="true" type="ax242:Application"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationDescription" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="applicationType" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="repositoryType" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="lifecycleAttribute" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.core.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="Application">
                <xs:sequence>
                    <xs:element minOccurs="0" name="branchCount" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="mappedSubDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="production" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="repoAccessability" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="repositoryType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="versions" nillable="true" type="ax241:Version"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Version">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lifecycleStage" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="Artifact">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="autoBuild" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="autoDeploy" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="currentBuildStatus" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lastBuildStatus" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lastDeployedId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="productionMappedDomain" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="promoteState" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="repoURL" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createApplicationRequest">
        <wsdl:part name="parameters" element="ns:createApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ApplicationManagementServiceApplicationManagementException">
        <wsdl:part name="parameters" element="ns:ApplicationManagementServiceApplicationManagementException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isApplicationIdAvailableRequest">
        <wsdl:part name="parameters" element="ns:isApplicationIdAvailable"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="isApplicationIdAvailableResponse">
        <wsdl:part name="parameters" element="ns:isApplicationIdAvailableResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishSetApplicationAutoBuildRequest">
        <wsdl:part name="parameters" element="ns:publishSetApplicationAutoBuild"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationRequest">
        <wsdl:part name="parameters" element="ns:getApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationResponse">
        <wsdl:part name="parameters" element="ns:getApplicationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRolesOfUserPerApplicationRequest"></wsdl:message>
    <wsdl:message name="getRolesOfUserPerApplicationResponse"></wsdl:message>
    <wsdl:message name="getUserInfoBeanRequest"></wsdl:message>
    <wsdl:message name="getUserInfoBeanResponse"></wsdl:message>
    <wsdl:message name="getAllCreatedApplicationsRequest">
        <wsdl:part name="parameters" element="ns:getAllCreatedApplications"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCreatedApplicationsResponse">
        <wsdl:part name="parameters" element="ns:getAllCreatedApplicationsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishApplicationVersionCreationRequest">
        <wsdl:part name="parameters" element="ns:publishApplicationVersionCreation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishApplicationVersionCreationResponse"></wsdl:message>
    <wsdl:message name="deleteApplicationRequest">
        <wsdl:part name="parameters" element="ns:deleteApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteApplicationResponse">
        <wsdl:part name="parameters" element="ns:deleteApplicationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ApplicationManagementServiceAppFactoryException">
        <wsdl:part name="parameters" element="ns:ApplicationManagementServiceAppFactoryException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRxtWithPromoteStateRequest">
        <wsdl:part name="parameters" element="ns:updateRxtWithPromoteState"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateRxtWithPromoteStateResponse"></wsdl:message>
    <wsdl:message name="getBasicApplicationInfoRequest"></wsdl:message>
    <wsdl:message name="getBasicApplicationInfoResponse"></wsdl:message>
    <wsdl:message name="getAllVersionsOfApplicationRequest">
        <wsdl:part name="parameters" element="ns:getAllVersionsOfApplication"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllVersionsOfApplicationResponse">
        <wsdl:part name="parameters" element="ns:getAllVersionsOfApplicationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishApplicationCreationRequest">
        <wsdl:part name="parameters" element="ns:publishApplicationCreation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationsOfUserRequest">
        <wsdl:part name="parameters" element="ns:getApplicationsOfUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getApplicationsOfUserResponse">
        <wsdl:part name="parameters" element="ns:getApplicationsOfUserResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStageRequest">
        <wsdl:part name="parameters" element="ns:getStage"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStageResponse">
        <wsdl:part name="parameters" element="ns:getStageResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishSetApplicationAutoDeployRequest">
        <wsdl:part name="parameters" element="ns:publishSetApplicationAutoDeploy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllApplicationsRequest">
        <wsdl:part name="parameters" element="ns:getAllApplications"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllApplicationsResponse">
        <wsdl:part name="parameters" element="ns:getAllApplicationsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addArtifactRequest">
        <wsdl:part name="parameters" element="ns:addArtifact"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addArtifactResponse">
        <wsdl:part name="parameters" element="ns:addArtifactResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishForkRepositoryRequest">
        <wsdl:part name="parameters" element="ns:publishForkRepository"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishForkRepositoryResponse"></wsdl:message>
    <wsdl:message name="getAllVersionsOfApplicationPerUserRequest">
        <wsdl:part name="parameters" element="ns:getAllVersionsOfApplicationPerUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllVersionsOfApplicationPerUserResponse">
        <wsdl:part name="parameters" element="ns:getAllVersionsOfApplicationPerUserResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ApplicationManagementServicePortType">
        <wsdl:operation name="createApplication">
            <wsdl:input message="ns:createApplicationRequest" wsaw:Action="urn:createApplication"></wsdl:input>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:createApplicationApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isApplicationIdAvailable">
            <wsdl:input message="ns:isApplicationIdAvailableRequest" wsaw:Action="urn:isApplicationIdAvailable"></wsdl:input>
            <wsdl:output message="ns:isApplicationIdAvailableResponse" wsaw:Action="urn:isApplicationIdAvailableResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:isApplicationIdAvailableApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishSetApplicationAutoBuild">
            <wsdl:input message="ns:publishSetApplicationAutoBuildRequest" wsaw:Action="urn:publishSetApplicationAutoBuild"></wsdl:input>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:publishSetApplicationAutoBuildApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <wsdl:input message="ns:getApplicationRequest" wsaw:Action="urn:getApplication"></wsdl:input>
            <wsdl:output message="ns:getApplicationResponse" wsaw:Action="urn:getApplicationResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:getApplicationApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUserPerApplication">
            <wsdl:input message="ns:getRolesOfUserPerApplicationRequest" wsaw:Action="urn:getRolesOfUserPerApplication"></wsdl:input>
            <wsdl:output message="ns:getRolesOfUserPerApplicationResponse" wsaw:Action="urn:getRolesOfUserPerApplicationResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserInfoBean">
            <wsdl:input message="ns:getUserInfoBeanRequest" wsaw:Action="urn:getUserInfoBean"></wsdl:input>
            <wsdl:output message="ns:getUserInfoBeanResponse" wsaw:Action="urn:getUserInfoBeanResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCreatedApplications">
            <wsdl:input message="ns:getAllCreatedApplicationsRequest" wsaw:Action="urn:getAllCreatedApplications"></wsdl:input>
            <wsdl:output message="ns:getAllCreatedApplicationsResponse" wsaw:Action="urn:getAllCreatedApplicationsResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:getAllCreatedApplicationsApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishApplicationVersionCreation">
            <wsdl:input message="ns:publishApplicationVersionCreationRequest" wsaw:Action="urn:publishApplicationVersionCreation"></wsdl:input>
            <wsdl:output message="ns:publishApplicationVersionCreationResponse" wsaw:Action="urn:publishApplicationVersionCreationResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:publishApplicationVersionCreationApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <wsdl:input message="ns:deleteApplicationRequest" wsaw:Action="urn:deleteApplication"></wsdl:input>
            <wsdl:output message="ns:deleteApplicationResponse" wsaw:Action="urn:deleteApplicationResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceAppFactoryException" name="ApplicationManagementServiceAppFactoryException" wsaw:Action="urn:deleteApplicationApplicationManagementServiceAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRxtWithPromoteState">
            <wsdl:input message="ns:updateRxtWithPromoteStateRequest" wsaw:Action="urn:updateRxtWithPromoteState"></wsdl:input>
            <wsdl:output message="ns:updateRxtWithPromoteStateResponse" wsaw:Action="urn:updateRxtWithPromoteStateResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:updateRxtWithPromoteStateApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBasicApplicationInfo">
            <wsdl:input message="ns:getBasicApplicationInfoRequest" wsaw:Action="urn:getBasicApplicationInfo"></wsdl:input>
            <wsdl:output message="ns:getBasicApplicationInfoResponse" wsaw:Action="urn:getBasicApplicationInfoResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVersionsOfApplication">
            <wsdl:input message="ns:getAllVersionsOfApplicationRequest" wsaw:Action="urn:getAllVersionsOfApplication"></wsdl:input>
            <wsdl:output message="ns:getAllVersionsOfApplicationResponse" wsaw:Action="urn:getAllVersionsOfApplicationResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceAppFactoryException" name="ApplicationManagementServiceAppFactoryException" wsaw:Action="urn:getAllVersionsOfApplicationApplicationManagementServiceAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishApplicationCreation">
            <wsdl:input message="ns:publishApplicationCreationRequest" wsaw:Action="urn:publishApplicationCreation"></wsdl:input>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:publishApplicationCreationApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationsOfUser">
            <wsdl:input message="ns:getApplicationsOfUserRequest" wsaw:Action="urn:getApplicationsOfUser"></wsdl:input>
            <wsdl:output message="ns:getApplicationsOfUserResponse" wsaw:Action="urn:getApplicationsOfUserResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:getApplicationsOfUserApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <wsdl:input message="ns:getStageRequest" wsaw:Action="urn:getStage"></wsdl:input>
            <wsdl:output message="ns:getStageResponse" wsaw:Action="urn:getStageResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:getStageApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishSetApplicationAutoDeploy">
            <wsdl:input message="ns:publishSetApplicationAutoDeployRequest" wsaw:Action="urn:publishSetApplicationAutoDeploy"></wsdl:input>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:publishSetApplicationAutoDeployApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplications">
            <wsdl:input message="ns:getAllApplicationsRequest" wsaw:Action="urn:getAllApplications"></wsdl:input>
            <wsdl:output message="ns:getAllApplicationsResponse" wsaw:Action="urn:getAllApplicationsResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:getAllApplicationsApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addArtifact">
            <wsdl:input message="ns:addArtifactRequest" wsaw:Action="urn:addArtifact"></wsdl:input>
            <wsdl:output message="ns:addArtifactResponse" wsaw:Action="urn:addArtifactResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceAppFactoryException" name="ApplicationManagementServiceAppFactoryException" wsaw:Action="urn:addArtifactApplicationManagementServiceAppFactoryException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishForkRepository">
            <wsdl:input message="ns:publishForkRepositoryRequest" wsaw:Action="urn:publishForkRepository"></wsdl:input>
            <wsdl:output message="ns:publishForkRepositoryResponse" wsaw:Action="urn:publishForkRepositoryResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceApplicationManagementException" name="ApplicationManagementServiceApplicationManagementException" wsaw:Action="urn:publishForkRepositoryApplicationManagementServiceApplicationManagementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllVersionsOfApplicationPerUser">
            <wsdl:input message="ns:getAllVersionsOfApplicationPerUserRequest" wsaw:Action="urn:getAllVersionsOfApplicationPerUser"></wsdl:input>
            <wsdl:output message="ns:getAllVersionsOfApplicationPerUserResponse" wsaw:Action="urn:getAllVersionsOfApplicationPerUserResponse"></wsdl:output>
            <wsdl:fault message="ns:ApplicationManagementServiceAppFactoryException" name="ApplicationManagementServiceAppFactoryException" wsaw:Action="urn:getAllVersionsOfApplicationPerUserApplicationManagementServiceAppFactoryException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationManagementServiceSoap11Binding" type="ns:ApplicationManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="createApplication">
            <soap:operation soapAction="urn:createApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isApplicationIdAvailable">
            <soap:operation soapAction="urn:isApplicationIdAvailable" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishSetApplicationAutoBuild">
            <soap:operation soapAction="urn:publishSetApplicationAutoBuild" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <soap:operation soapAction="urn:getApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserInfoBean">
            <soap:operation soapAction="urn:getUserInfoBean" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUserPerApplication">
            <soap:operation soapAction="urn:getRolesOfUserPerApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCreatedApplications">
            <soap:operation soapAction="urn:getAllCreatedApplications" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishApplicationVersionCreation">
            <soap:operation soapAction="urn:publishApplicationVersionCreation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <soap:operation soapAction="urn:deleteApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceAppFactoryException">
                <soap:fault use="literal" name="ApplicationManagementServiceAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRxtWithPromoteState">
            <soap:operation soapAction="urn:updateRxtWithPromoteState" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBasicApplicationInfo">
            <soap:operation soapAction="urn:getBasicApplicationInfo" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVersionsOfApplication">
            <soap:operation soapAction="urn:getAllVersionsOfApplication" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceAppFactoryException">
                <soap:fault use="literal" name="ApplicationManagementServiceAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishApplicationCreation">
            <soap:operation soapAction="urn:publishApplicationCreation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <soap:operation soapAction="urn:getStage" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationsOfUser">
            <soap:operation soapAction="urn:getApplicationsOfUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishSetApplicationAutoDeploy">
            <soap:operation soapAction="urn:publishSetApplicationAutoDeploy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplications">
            <soap:operation soapAction="urn:getAllApplications" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addArtifact">
            <soap:operation soapAction="urn:addArtifact" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceAppFactoryException">
                <soap:fault use="literal" name="ApplicationManagementServiceAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishForkRepository">
            <soap:operation soapAction="urn:publishForkRepository" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllVersionsOfApplicationPerUser">
            <soap:operation soapAction="urn:getAllVersionsOfApplicationPerUser" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceAppFactoryException">
                <soap:fault use="literal" name="ApplicationManagementServiceAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceSoap12Binding" type="ns:ApplicationManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="createApplication">
            <soap12:operation soapAction="urn:createApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isApplicationIdAvailable">
            <soap12:operation soapAction="urn:isApplicationIdAvailable" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishSetApplicationAutoBuild">
            <soap12:operation soapAction="urn:publishSetApplicationAutoBuild" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <soap12:operation soapAction="urn:getApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserInfoBean">
            <soap12:operation soapAction="urn:getUserInfoBean" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUserPerApplication">
            <soap12:operation soapAction="urn:getRolesOfUserPerApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCreatedApplications">
            <soap12:operation soapAction="urn:getAllCreatedApplications" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishApplicationVersionCreation">
            <soap12:operation soapAction="urn:publishApplicationVersionCreation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <soap12:operation soapAction="urn:deleteApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceAppFactoryException">
                <soap12:fault use="literal" name="ApplicationManagementServiceAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRxtWithPromoteState">
            <soap12:operation soapAction="urn:updateRxtWithPromoteState" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getBasicApplicationInfo">
            <soap12:operation soapAction="urn:getBasicApplicationInfo" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVersionsOfApplication">
            <soap12:operation soapAction="urn:getAllVersionsOfApplication" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceAppFactoryException">
                <soap12:fault use="literal" name="ApplicationManagementServiceAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishApplicationCreation">
            <soap12:operation soapAction="urn:publishApplicationCreation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <soap12:operation soapAction="urn:getStage" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getApplicationsOfUser">
            <soap12:operation soapAction="urn:getApplicationsOfUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishSetApplicationAutoDeploy">
            <soap12:operation soapAction="urn:publishSetApplicationAutoDeploy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllApplications">
            <soap12:operation soapAction="urn:getAllApplications" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addArtifact">
            <soap12:operation soapAction="urn:addArtifact" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceAppFactoryException">
                <soap12:fault use="literal" name="ApplicationManagementServiceAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishForkRepository">
            <soap12:operation soapAction="urn:publishForkRepository" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceApplicationManagementException">
                <soap12:fault use="literal" name="ApplicationManagementServiceApplicationManagementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllVersionsOfApplicationPerUser">
            <soap12:operation soapAction="urn:getAllVersionsOfApplicationPerUser" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="ApplicationManagementServiceAppFactoryException">
                <soap12:fault use="literal" name="ApplicationManagementServiceAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceHttpBinding" type="ns:ApplicationManagementServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="createApplication">
            <http:operation location="createApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isApplicationIdAvailable">
            <http:operation location="isApplicationIdAvailable"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishSetApplicationAutoBuild">
            <http:operation location="publishSetApplicationAutoBuild"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getApplication">
            <http:operation location="getApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserInfoBean">
            <http:operation location="getUserInfoBean"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRolesOfUserPerApplication">
            <http:operation location="getRolesOfUserPerApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllCreatedApplications">
            <http:operation location="getAllCreatedApplications"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishApplicationVersionCreation">
            <http:operation location="publishApplicationVersionCreation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteApplication">
            <http:operation location="deleteApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateRxtWithPromoteState">
            <http:operation location="updateRxtWithPromoteState"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBasicApplicationInfo">
            <http:operation location="getBasicApplicationInfo"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVersionsOfApplication">
            <http:operation location="getAllVersionsOfApplication"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishApplicationCreation">
            <http:operation location="publishApplicationCreation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <http:operation location="getStage"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getApplicationsOfUser">
            <http:operation location="getApplicationsOfUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishSetApplicationAutoDeploy">
            <http:operation location="publishSetApplicationAutoDeploy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllApplications">
            <http:operation location="getAllApplications"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addArtifact">
            <http:operation location="addArtifact"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishForkRepository">
            <http:operation location="publishForkRepository"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllVersionsOfApplicationPerUser">
            <http:operation location="getAllVersionsOfApplicationPerUser"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationManagementService">
        <wsdl:port name="ApplicationManagementServiceHttpsSoap11Endpoint" binding="ns:ApplicationManagementServiceSoap11Binding">
            <soap:address location="https://milestones.appfactory.wso2.com:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsSoap12Endpoint" binding="ns:ApplicationManagementServiceSoap12Binding">
            <soap12:address location="https://milestones.appfactory.wso2.com:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsEndpoint" binding="ns:ApplicationManagementServiceHttpBinding">
            <http:address location="https://milestones.appfactory.wso2.com:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
