modules/bpels/CreateTenant/AppFactoryTenantInfraStructureInitializerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.core.appfactory.carbon.wso2.org"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax260="http://beans.common.stratos.carbon.wso2.org/xsd"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ax258="http://common.appfactory.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	targetNamespace="http://services.core.appfactory.carbon.wso2.org">
	<wsdl:documentation>AppFactoryTenantInfraStructureInitializerService
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://beans.common.stratos.carbon.wso2.org/xsd">
			<xs:complexType name="TenantInfoBean">
				<xs:sequence>
					<xs:element minOccurs="0" name="active" type="xs:boolean" />
					<xs:element minOccurs="0" name="admin" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="adminPassword" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="createdDate" nillable="true"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="firstname" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="lastname" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="originatedService"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="successKey" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="tenantDomain" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="tenantId" type="xs:int" />
					<xs:element minOccurs="0" name="usagePlan" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ax259="http://common.appfactory.carbon.wso2.org/xsd"
			xmlns:ax261="http://beans.common.stratos.carbon.wso2.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://services.core.appfactory.carbon.wso2.org">
			<xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd" />
			<xs:import namespace="http://beans.common.stratos.carbon.wso2.org/xsd" />
			<xs:element
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="AppFactoryException"
							nillable="true" type="ax259:AppFactoryException" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="notifyTenantCreationListners">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="bean" nillable="true"
							type="ax260:TenantInfoBean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="notifyTenantCreationListnersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initializeRepositoryManager">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="tenantDomain" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="usagePlan" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initializeRepositoryManagerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initializeCloudManager">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="bean" nillable="true"
							type="ax260:TenantInfoBean" />
						<xs:element minOccurs="0" name="stage" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initializeCloudManagerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initializeBuildManager">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="tenantDomain" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="usagePlan" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initializeBuildManagerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
			<xs:complexType name="AppFactoryException">
				<xs:sequence />
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="initializeBuildManagerRequest">
		<wsdl:part name="parameters" element="ns:initializeBuildManager" />
	</wsdl:message>
	<wsdl:message name="initializeBuildManagerResponse">
		<wsdl:part name="parameters" element="ns:initializeBuildManagerResponse" />
	</wsdl:message>
	<wsdl:message
		name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
		<wsdl:part name="parameters"
			element="ns:AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
	</wsdl:message>
	<wsdl:message name="notifyTenantCreationListnersRequest">
		<wsdl:part name="parameters" element="ns:notifyTenantCreationListners" />
	</wsdl:message>
	<wsdl:message name="notifyTenantCreationListnersResponse">
		<wsdl:part name="parameters" element="ns:notifyTenantCreationListnersResponse" />
	</wsdl:message>
	<wsdl:message name="initializeRepositoryManagerRequest">
		<wsdl:part name="parameters" element="ns:initializeRepositoryManager" />
	</wsdl:message>
	<wsdl:message name="initializeRepositoryManagerResponse">
		<wsdl:part name="parameters" element="ns:initializeRepositoryManagerResponse" />
	</wsdl:message>
	<wsdl:message name="initializeCloudManagerRequest">
		<wsdl:part name="parameters" element="ns:initializeCloudManager" />
	</wsdl:message>
	<wsdl:message name="initializeCloudManagerResponse">
		<wsdl:part name="parameters" element="ns:initializeCloudManagerResponse" />
	</wsdl:message>
	<wsdl:portType
		name="AppFactoryTenantInfraStructureInitializerServicePortType">
		<wsdl:operation name="initializeBuildManager">
			<wsdl:input message="ns:initializeBuildManagerRequest"
				wsaw:Action="urn:initializeBuildManager" />
			<wsdl:output message="ns:initializeBuildManagerResponse"
				wsaw:Action="urn:initializeBuildManagerResponse" />
			<wsdl:fault
				message="ns:AppFactoryTenantInfraStructureInitializerServiceAppFactoryException"
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException"
				wsaw:Action="urn:initializeBuildManagerAppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
		</wsdl:operation>
		<wsdl:operation name="notifyTenantCreationListners">
			<wsdl:input message="ns:notifyTenantCreationListnersRequest"
				wsaw:Action="urn:notifyTenantCreationListners" />
			<wsdl:output message="ns:notifyTenantCreationListnersResponse"
				wsaw:Action="urn:notifyTenantCreationListnersResponse" />
			<wsdl:fault
				message="ns:AppFactoryTenantInfraStructureInitializerServiceAppFactoryException"
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException"
				wsaw:Action="urn:notifyTenantCreationListnersAppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
		</wsdl:operation>
		<wsdl:operation name="initializeRepositoryManager">
			<wsdl:input message="ns:initializeRepositoryManagerRequest"
				wsaw:Action="urn:initializeRepositoryManager" />
			<wsdl:output message="ns:initializeRepositoryManagerResponse"
				wsaw:Action="urn:initializeRepositoryManagerResponse" />
			<wsdl:fault
				message="ns:AppFactoryTenantInfraStructureInitializerServiceAppFactoryException"
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException"
				wsaw:Action="urn:initializeRepositoryManagerAppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
		</wsdl:operation>
		<wsdl:operation name="initializeCloudManager">
			<wsdl:input message="ns:initializeCloudManagerRequest"
				wsaw:Action="urn:initializeCloudManager" />
			<wsdl:output message="ns:initializeCloudManagerResponse"
				wsaw:Action="urn:initializeCloudManagerResponse" />
			<wsdl:fault
				message="ns:AppFactoryTenantInfraStructureInitializerServiceAppFactoryException"
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException"
				wsaw:Action="urn:initializeCloudManagerAppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="AppFactoryTenantInfraStructureInitializerServiceSoap11Binding"
		type="ns:AppFactoryTenantInfraStructureInitializerServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="initializeBuildManager">
			<soap:operation soapAction="urn:initializeBuildManager"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<soap:fault use="literal"
					name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initializeCloudManager">
			<soap:operation soapAction="urn:initializeCloudManager"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<soap:fault use="literal"
					name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="notifyTenantCreationListners">
			<soap:operation soapAction="urn:notifyTenantCreationListners"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<soap:fault use="literal"
					name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initializeRepositoryManager">
			<soap:operation soapAction="urn:initializeRepositoryManager"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<soap:fault use="literal"
					name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding
		name="AppFactoryTenantInfraStructureInitializerServiceSoap12Binding"
		type="ns:AppFactoryTenantInfraStructureInitializerServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="initializeBuildManager">
			<soap12:operation soapAction="urn:initializeBuildManager"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<soap12:fault use="literal"
					name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initializeCloudManager">
			<soap12:operation soapAction="urn:initializeCloudManager"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<soap12:fault use="literal"
					name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="notifyTenantCreationListners">
			<soap12:operation soapAction="urn:notifyTenantCreationListners"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<soap12:fault use="literal"
					name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="initializeRepositoryManager">
			<soap12:operation soapAction="urn:initializeRepositoryManager"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault
				name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException">
				<soap12:fault use="literal"
					name="AppFactoryTenantInfraStructureInitializerServiceAppFactoryException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding
		name="AppFactoryTenantInfraStructureInitializerServiceHttpBinding"
		type="ns:AppFactoryTenantInfraStructureInitializerServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="initializeBuildManager">
			<http:operation location="initializeBuildManager" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="initializeCloudManager">
			<http:operation location="initializeCloudManager" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notifyTenantCreationListners">
			<http:operation location="notifyTenantCreationListners" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="initializeRepositoryManager">
			<http:operation location="initializeRepositoryManager" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AppFactoryTenantInfraStructureInitializerService">
		<wsdl:port
			name="AppFactoryTenantInfraStructureInitializerServiceHttpsSoap11Endpoint"
			binding="ns:AppFactoryTenantInfraStructureInitializerServiceSoap11Binding">
			<soap:address
				location="https://milestones.appfactory.wso2.com:9443/services/AppFactoryTenantInfraStructureInitializerService.AppFactoryTenantInfraStructureInitializerServiceHttpsSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port
			name="AppFactoryTenantInfraStructureInitializerServiceHttpsSoap12Endpoint"
			binding="ns:AppFactoryTenantInfraStructureInitializerServiceSoap12Binding">
			<soap12:address
				location="https://milestones.appfactory.wso2.com:9443/services/AppFactoryTenantInfraStructureInitializerService.AppFactoryTenantInfraStructureInitializerServiceHttpsSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port
			name="AppFactoryTenantInfraStructureInitializerServiceHttpsEndpoint"
			binding="ns:AppFactoryTenantInfraStructureInitializerServiceHttpBinding">
			<http:address
				location="https://milestones.appfactory.wso2.com:9443/services/AppFactoryTenantInfraStructureInitializerService.AppFactoryTenantInfraStructureInitializerServiceHttpsEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>