modules/webapps/appfactory-gitblit-plugin/src/main/resources/RepositoryAuthenticationService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns="http://service.mgt.repository.appfactory.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://service.mgt.repository.appfactory.carbon.wso2.org">
    <wsdl:documentation>RepositoryAuthenticationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://service.mgt.repository.appfactory.carbon.wso2.org">
            <xs:element name="hasAccess">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="applicationId" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="repoAction" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fullRepoName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hasAccessResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="hasAccessRequest">
        <wsdl:part name="parameters" element="ns:hasAccess"/>
    </wsdl:message>
    <wsdl:message name="hasAccessResponse">
        <wsdl:part name="parameters" element="ns:hasAccessResponse"/>
    </wsdl:message>
    <wsdl:portType name="RepositoryAuthenticationServicePortType">
        <wsdl:operation name="hasAccess">
            <wsdl:input message="ns:hasAccessRequest" wsaw:Action="urn:hasAccess"/>
            <wsdl:output message="ns:hasAccessResponse" wsaw:Action="urn:hasAccessResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RepositoryAuthenticationServiceSoap11Binding"
                  type="ns:RepositoryAuthenticationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hasAccess">
            <soap:operation soapAction="urn:hasAccess" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RepositoryAuthenticationServiceSoap12Binding"
                  type="ns:RepositoryAuthenticationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hasAccess">
            <soap12:operation soapAction="urn:hasAccess" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RepositoryAuthenticationServiceHttpBinding"
                  type="ns:RepositoryAuthenticationServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="hasAccess">
            <http:operation location="hasAccess"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RepositoryAuthenticationService">
        <wsdl:port name="RepositoryAuthenticationServiceHttpsSoap11Endpoint"
                   binding="ns:RepositoryAuthenticationServiceSoap11Binding">
            <soap:address
                    location="https://appfactory.example.com:9443/services/RepositoryAuthenticationService.RepositoryAuthenticationServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RepositoryAuthenticationServiceHttpsSoap12Endpoint"
                   binding="ns:RepositoryAuthenticationServiceSoap12Binding">
            <soap12:address
                    location="https://appfactory.example.com:9443/services/RepositoryAuthenticationService.RepositoryAuthenticationServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RepositoryAuthenticationServiceHttpsEndpoint"
                   binding="ns:RepositoryAuthenticationServiceHttpBinding">
            <http:address
                    location="https://appfactory.example.com:9443/services/RepositoryAuthenticationService.RepositoryAuthenticationServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
