modules/bpels/ApplicationCreation/CreateApplicationArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wso2.org" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://services.mgt.tenant.carbon.wso2.org" xmlns:wsdl1="http://service.mgt.repository.svn.appfactory.carbon.wso2.org" xmlns:wsdl2="http://service.mgt.application.appfactory.carbon.wso2.org" xmlns:wsdl3="http://service.mgt.repository.appfactory.carbon.wso2.org" xmlns:wsdl5="http://service.build.jenkins.appfactory.carbon.wso2.org" name="CreateApplication" targetNamespace="http://wso2.org">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of types participating in this BPEL process 
     The BPEL Designer will generate default request and response types
     but you can define or import any XML Schema type and use them as part 
     of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    

    <plnk:partnerLinkType name="TenantMgtPLT">
    <plnk:role name="TenantMgr" portType="wsdl:TenantMgtAdminServicePortType"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ApplicationMgtPLT">
    <plnk:role name="ApplicationMgr" portType="wsdl2:ApplicationManagementServicePortType"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RepositoryMgtPLType">
    <plnk:role name="RepositoryMgt" portType="wsdl3:RepositoryManagementServicePortType"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RepoMgtPLType">
    <plnk:role name="RepoMgt" portType="wsdl3:TenantRepositoryCreationServicePortType"/>
  </plnk:partnerLinkType>
    <import location="TenantMgtAdminService.wsdl" namespace="http://services.mgt.tenant.carbon.wso2.org"/>
    <import location="ApplicationManagementService.wsdl" namespace="http://service.mgt.application.appfactory.carbon.wso2.org"/>
    <import location="RepositoryManagementService.wsdl" namespace="http://service.mgt.repository.appfactory.carbon.wso2.org"/>
    <import location="TenantRepositoryCreationService.wsdl" namespace="http://service.mgt.repository.appfactory.carbon.wso2.org"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wso2.org">

            <element name="CreateApplicationRequest">
                <complexType>
                    <sequence>
                    	<element name="applicationId" type="string"/>
                    	<element name="userName" type="string"/>
                    	<element name="repositoryType" type="string"/>
                    	<element name="adminUserName" type="string"/>
                    	<element name="domainName" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <message name="CreateApplicationRequestMessage">
        <part element="tns:CreateApplicationRequest" name="payload"/>
    </message>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    

    <!-- portType implemented by the CreateApplication BPEL process -->
    <portType name="CreateApplication">
        <operation name="process">
            <input message="tns:CreateApplicationRequestMessage"/>
        </operation>
    </portType>
  

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <plnk:partnerLinkType name="CreateApplication">
        <plnk:role name="CreateApplicationProvider" portType="tns:CreateApplication"/>
    </plnk:partnerLinkType>
    
    <binding name="NewBinding" type="tns:CreateApplication">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="process">
    		<soap:operation soapAction="http://wso2.org"/>
    		<input>
    			<soap:body use="literal"/>
    		</input>
    		<output>
    			<soap:body use="literal"/>
    		</output>
    	</operation>
    </binding>
    <service name="CreateApplication">
    	<port binding="tns:NewBinding" name="CreateApplicationPort">
    		<soap:address location="http://wso2.org/appfactory"/>
    </port>
    </service>
</definitions>
