modules/bpels/ApplicationCreation/RepositoryManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.mgt.repository.appfactory.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax217="http://common.appfactory.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax219="http://mgt.repository.appfactory.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.mgt.repository.appfactory.carbon.wso2.org">
    <wsdl:documentation>RepositoryManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="AppFactoryException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.repository.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="RepositoryMgtException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax220="http://mgt.repository.appfactory.carbon.wso2.org/xsd" xmlns:ax218="http://common.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.mgt.repository.appfactory.carbon.wso2.org">
            <xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd" />
            <xs:import namespace="http://mgt.repository.appfactory.carbon.wso2.org/xsd" />
            <xs:element name="RepositoryManagementServiceAppFactoryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppFactoryException" nillable="true" type="ax217:AppFactoryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="RepositoryManagementServiceRepositoryMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RepositoryMgtException" nillable="true" type="ax220:RepositoryMgtException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="tag">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="currentVersion" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="targetVersion" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="currentRevision" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getURL">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getURLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createRepository">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationKey" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createRepositoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="branch">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="currentVersion" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="targetVersion" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="currentRevision" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="tagRequest">
        <wsdl:part name="parameters" element="ns:tag" />
    </wsdl:message>
    <wsdl:message name="RepositoryManagementServiceAppFactoryException">
        <wsdl:part name="parameters" element="ns:RepositoryManagementServiceAppFactoryException" />
    </wsdl:message>
    <wsdl:message name="RepositoryManagementServiceRepositoryMgtException">
        <wsdl:part name="parameters" element="ns:RepositoryManagementServiceRepositoryMgtException" />
    </wsdl:message>
    <wsdl:message name="branchRequest">
        <wsdl:part name="parameters" element="ns:branch" />
    </wsdl:message>
    <wsdl:message name="createRepositoryRequest">
        <wsdl:part name="parameters" element="ns:createRepository" />
    </wsdl:message>
    <wsdl:message name="createRepositoryResponse">
        <wsdl:part name="parameters" element="ns:createRepositoryResponse" />
    </wsdl:message>
    <wsdl:message name="getURLRequest">
        <wsdl:part name="parameters" element="ns:getURL" />
    </wsdl:message>
    <wsdl:message name="getURLResponse">
        <wsdl:part name="parameters" element="ns:getURLResponse" />
    </wsdl:message>
    <wsdl:portType name="RepositoryManagementServicePortType">
        <wsdl:operation name="tag">
            <wsdl:input message="ns:tagRequest" wsaw:Action="urn:tag" />
            <wsdl:fault message="ns:RepositoryManagementServiceAppFactoryException" name="RepositoryManagementServiceAppFactoryException" wsaw:Action="urn:tagRepositoryManagementServiceAppFactoryException" />
            <wsdl:fault message="ns:RepositoryManagementServiceRepositoryMgtException" name="RepositoryManagementServiceRepositoryMgtException" wsaw:Action="urn:tagRepositoryManagementServiceRepositoryMgtException" />
        </wsdl:operation>
        <wsdl:operation name="branch">
            <wsdl:input message="ns:branchRequest" wsaw:Action="urn:branch" />
            <wsdl:fault message="ns:RepositoryManagementServiceRepositoryMgtException" name="RepositoryManagementServiceRepositoryMgtException" wsaw:Action="urn:branchRepositoryManagementServiceRepositoryMgtException" />
        </wsdl:operation>
        <wsdl:operation name="createRepository">
            <wsdl:input message="ns:createRepositoryRequest" wsaw:Action="urn:createRepository" />
            <wsdl:output message="ns:createRepositoryResponse" wsaw:Action="urn:createRepositoryResponse" />
            <wsdl:fault message="ns:RepositoryManagementServiceRepositoryMgtException" name="RepositoryManagementServiceRepositoryMgtException" wsaw:Action="urn:createRepositoryRepositoryManagementServiceRepositoryMgtException" />
        </wsdl:operation>
        <wsdl:operation name="getURL">
            <wsdl:input message="ns:getURLRequest" wsaw:Action="urn:getURL" />
            <wsdl:output message="ns:getURLResponse" wsaw:Action="urn:getURLResponse" />
            <wsdl:fault message="ns:RepositoryManagementServiceRepositoryMgtException" name="RepositoryManagementServiceRepositoryMgtException" wsaw:Action="urn:getURLRepositoryManagementServiceRepositoryMgtException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RepositoryManagementServiceSoap11Binding" type="ns:RepositoryManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="tag">
            <soap:operation soapAction="urn:tag" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
                <soap:fault use="literal" name="RepositoryManagementServiceRepositoryMgtException" />
            </wsdl:fault>
            <wsdl:fault name="RepositoryManagementServiceAppFactoryException">
                <soap:fault use="literal" name="RepositoryManagementServiceAppFactoryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createRepository">
            <soap:operation soapAction="urn:createRepository" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
                <soap:fault use="literal" name="RepositoryManagementServiceRepositoryMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="branch">
            <soap:operation soapAction="urn:branch" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
                <soap:fault use="literal" name="RepositoryManagementServiceRepositoryMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getURL">
            <soap:operation soapAction="urn:getURL" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
                <soap:fault use="literal" name="RepositoryManagementServiceRepositoryMgtException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RepositoryManagementServiceSoap12Binding" type="ns:RepositoryManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="tag">
            <soap12:operation soapAction="urn:tag" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
                <soap12:fault use="literal" name="RepositoryManagementServiceRepositoryMgtException" />
            </wsdl:fault>
            <wsdl:fault name="RepositoryManagementServiceAppFactoryException">
                <soap12:fault use="literal" name="RepositoryManagementServiceAppFactoryException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createRepository">
            <soap12:operation soapAction="urn:createRepository" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
                <soap12:fault use="literal" name="RepositoryManagementServiceRepositoryMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="branch">
            <soap12:operation soapAction="urn:branch" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
                <soap12:fault use="literal" name="RepositoryManagementServiceRepositoryMgtException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getURL">
            <soap12:operation soapAction="urn:getURL" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
                <soap12:fault use="literal" name="RepositoryManagementServiceRepositoryMgtException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RepositoryManagementServiceHttpBinding" type="ns:RepositoryManagementServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="tag">
            <http:operation location="tag" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="createRepository">
            <http:operation location="createRepository" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="branch">
            <http:operation location="branch" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getURL">
            <http:operation location="getURL" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RepositoryManagementService">
        <wsdl:port name="RepositoryManagementServiceHttpsSoap11Endpoint" binding="ns:RepositoryManagementServiceSoap11Binding">
            <soap:address location="https://appfactory.example.com:9443/services/RepositoryManagementService.RepositoryManagementServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RepositoryManagementServiceHttpsSoap12Endpoint" binding="ns:RepositoryManagementServiceSoap12Binding">
            <soap12:address location="https://appfactory.example.com:9443/services/RepositoryManagementService.RepositoryManagementServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RepositoryManagementServiceHttpsEndpoint" binding="ns:RepositoryManagementServiceHttpBinding">
            <http:address location="https://appfactory.example.com:9443/services/RepositoryManagementService.RepositoryManagementServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>