modules/bpels/ApplicationCreation/TenantContinousIntegrationSystemDriverService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.build.jenkins.appfactory.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax244="http://common.appfactory.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.build.jenkins.appfactory.carbon.wso2.org">
    <wsdl:documentation>TenantContinousIntegrationSystemDriverService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="AppFactoryException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax245="http://common.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.build.jenkins.appfactory.carbon.wso2.org">
            <xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="TenantContinousIntegrationSystemDriverServiceAppFactoryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppFactoryException" nillable="true" type="ax245:AppFactoryException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createJob">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createJobRequest">
        <wsdl:part name="parameters" element="ns:createJob"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="TenantContinousIntegrationSystemDriverServiceAppFactoryException">
        <wsdl:part name="parameters" element="ns:TenantContinousIntegrationSystemDriverServiceAppFactoryException"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TenantContinousIntegrationSystemDriverServicePortType">
        <wsdl:operation name="createJob">
            <wsdl:input message="ns:createJobRequest" wsaw:Action="urn:createJob"></wsdl:input>
            <wsdl:fault message="ns:TenantContinousIntegrationSystemDriverServiceAppFactoryException" name="TenantContinousIntegrationSystemDriverServiceAppFactoryException" wsaw:Action="urn:createJobTenantContinousIntegrationSystemDriverServiceAppFactoryException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TenantContinousIntegrationSystemDriverServiceSoap11Binding" type="ns:TenantContinousIntegrationSystemDriverServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="createJob">
            <soap:operation soapAction="urn:createJob" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="TenantContinousIntegrationSystemDriverServiceAppFactoryException">
                <soap:fault use="literal" name="TenantContinousIntegrationSystemDriverServiceAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantContinousIntegrationSystemDriverServiceSoap12Binding" type="ns:TenantContinousIntegrationSystemDriverServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="createJob">
            <soap12:operation soapAction="urn:createJob" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="TenantContinousIntegrationSystemDriverServiceAppFactoryException">
                <soap12:fault use="literal" name="TenantContinousIntegrationSystemDriverServiceAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantContinousIntegrationSystemDriverServiceHttpBinding" type="ns:TenantContinousIntegrationSystemDriverServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="createJob">
            <http:operation location="createJob"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TenantContinousIntegrationSystemDriverService">
        <wsdl:port name="TenantContinousIntegrationSystemDriverServiceHttpsSoap11Endpoint" binding="ns:TenantContinousIntegrationSystemDriverServiceSoap11Binding">
            <soap:address location="https://10.200.0.246:9443/services/TenantContinousIntegrationSystemDriverService.TenantContinousIntegrationSystemDriverServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="TenantContinousIntegrationSystemDriverServiceHttpsSoap12Endpoint" binding="ns:TenantContinousIntegrationSystemDriverServiceSoap12Binding">
            <soap12:address location="https://10.200.0.246:9443/services/TenantContinousIntegrationSystemDriverService.TenantContinousIntegrationSystemDriverServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="TenantContinousIntegrationSystemDriverServiceHttpsEndpoint" binding="ns:TenantContinousIntegrationSystemDriverServiceHttpBinding">
            <http:address location="https://10.200.0.246:9443/services/TenantContinousIntegrationSystemDriverService.TenantContinousIntegrationSystemDriverServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>