modules/service-stubs/org.wso2.carbon.appfactory.buildserver.teanant.mgt.stub/src/main/resources/BuildServerManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://integration.build.tenant.appfactory.carbon.wso2.org" xmlns:ax27="http://integration.build.tenant.appfactory.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://integration.build.tenant.appfactory.carbon.wso2.org">
    <wsdl:documentation>BuildServerManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://integration.build.tenant.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="BuildServerManagementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="exceptionCode" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax28="http://integration.build.tenant.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://integration.build.tenant.appfactory.carbon.wso2.org">
            <xs:import namespace="http://integration.build.tenant.appfactory.carbon.wso2.org/xsd"/>
            <xs:element name="BuildServerManagementServiceBuildServerManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BuildServerManagementException" nillable="true" type="ax27:BuildServerManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createTenantRequest">
        <wsdl:part name="parameters" element="ns:createTenant"/>
    </wsdl:message>
    <wsdl:message name="BuildServerManagementServiceBuildServerManagementException">
        <wsdl:part name="parameters" element="ns:BuildServerManagementServiceBuildServerManagementException"/>
    </wsdl:message>
    <wsdl:portType name="BuildServerManagementServicePortType">
        <wsdl:operation name="createTenant">
            <wsdl:input message="ns:createTenantRequest" wsaw:Action="urn:createTenant"/>
            <wsdl:fault message="ns:BuildServerManagementServiceBuildServerManagementException" name="BuildServerManagementServiceBuildServerManagementException" wsaw:Action="urn:createTenantBuildServerManagementServiceBuildServerManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BuildServerManagementServiceSoap11Binding" type="ns:BuildServerManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createTenant">
            <soap:operation soapAction="urn:createTenant" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BuildServerManagementServiceBuildServerManagementException">
                <soap:fault use="literal" name="BuildServerManagementServiceBuildServerManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BuildServerManagementServiceSoap12Binding" type="ns:BuildServerManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createTenant">
            <soap12:operation soapAction="urn:createTenant" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="BuildServerManagementServiceBuildServerManagementException">
                <soap12:fault use="literal" name="BuildServerManagementServiceBuildServerManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BuildServerManagementServiceHttpBinding" type="ns:BuildServerManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createTenant">
            <http:operation location="createTenant"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BuildServerManagementService">
        <wsdl:port name="BuildServerManagementServiceHttpsSoap11Endpoint" binding="ns:BuildServerManagementServiceSoap11Binding">
            <soap:address location="https://10.200.1.75:9443/services/BuildServerManagementService.BuildServerManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BuildServerManagementServiceHttpsSoap12Endpoint" binding="ns:BuildServerManagementServiceSoap12Binding">
            <soap12:address location="https://10.200.1.75:9443/services/BuildServerManagementService.BuildServerManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BuildServerManagementServiceHttpsEndpoint" binding="ns:BuildServerManagementServiceHttpBinding">
            <http:address location="https://10.200.1.75:9443/services/BuildServerManagementService.BuildServerManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>