modules/service-stubs/org.wso2.carbon.appfactory.build.stub/src/main/resources/BuildStatusRecieverService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax233="http://service.build.appfactory.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.build.appfactory.carbon.wso2.org" xmlns:ax231="http://common.appfactory.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.build.appfactory.carbon.wso2.org">
    <wsdl:documentation>BuildStatusRecieverService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="AppFactoryException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.build.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="BuildStatusBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="artifactType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="buildId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="buildSuccessful" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="logMsg" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="repoFrom" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="triggeredUser" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax232="http://common.appfactory.carbon.wso2.org/xsd" xmlns:ax234="http://service.build.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.build.appfactory.carbon.wso2.org">
            <xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://service.build.appfactory.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="BuildStatusRecieverServiceAppFactoryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppFactoryException" nillable="true" type="ax232:AppFactoryException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="onBuildCompletion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="buildStatus" nillable="true" type="ax233:BuildStatusBean"></xs:element>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="onBuildCompletionRequest">
        <wsdl:part name="parameters" element="ns:onBuildCompletion"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="BuildStatusRecieverServiceAppFactoryException">
        <wsdl:part name="parameters" element="ns:BuildStatusRecieverServiceAppFactoryException"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BuildStatusRecieverServicePortType">
        <wsdl:operation name="onBuildCompletion">
            <wsdl:input message="ns:onBuildCompletionRequest" wsaw:Action="urn:onBuildCompletion"></wsdl:input>
            <wsdl:fault message="ns:BuildStatusRecieverServiceAppFactoryException" name="BuildStatusRecieverServiceAppFactoryException" wsaw:Action="urn:onBuildCompletionBuildStatusRecieverServiceAppFactoryException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BuildStatusRecieverServiceSoap11Binding" type="ns:BuildStatusRecieverServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="onBuildCompletion">
            <soap:operation soapAction="urn:onBuildCompletion" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="BuildStatusRecieverServiceAppFactoryException">
                <soap:fault use="literal" name="BuildStatusRecieverServiceAppFactoryException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BuildStatusRecieverServiceSoap12Binding" type="ns:BuildStatusRecieverServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="onBuildCompletion">
            <soap12:operation soapAction="urn:onBuildCompletion" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="BuildStatusRecieverServiceAppFactoryException">
                <soap12:fault use="literal" name="BuildStatusRecieverServiceAppFactoryException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BuildStatusRecieverServiceHttpBinding" type="ns:BuildStatusRecieverServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="onBuildCompletion">
            <http:operation location="onBuildCompletion"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BuildStatusRecieverService">
        <wsdl:port name="BuildStatusRecieverServiceHttpsSoap11Endpoint" binding="ns:BuildStatusRecieverServiceSoap11Binding">
            <soap:address location="https://appfactory.private.wso2.com:9443/services/BuildStatusRecieverService.BuildStatusRecieverServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="BuildStatusRecieverServiceHttpsSoap12Endpoint" binding="ns:BuildStatusRecieverServiceSoap12Binding">
            <soap12:address location="https://appfactory.private.wso2.com:9443/services/BuildStatusRecieverService.BuildStatusRecieverServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="BuildStatusRecieverServiceHttpsEndpoint" binding="ns:BuildStatusRecieverServiceHttpBinding">
            <http:address location="https://appfactory.private.wso2.com:9443/services/BuildStatusRecieverService.BuildStatusRecieverServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
