modules/bpels/DeployArtifact/ApplicationDeployer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://deploy.core.appfactory.carbon.wso2.org" xmlns:ax221="http://common.appfactory.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax223="http://io.java/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax225="http://deploy.core.appfactory.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org">
    <wsdl:documentation>ApplicationDeployer</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="AppFactoryException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax223:File"/>
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax223:File"/>
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="directory" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="file" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long"/>
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax223:File"/>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long"/>
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax222="http://common.appfactory.carbon.wso2.org/xsd" xmlns:ax224="http://io.java/xsd" xmlns:ax226="http://deploy.core.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org">
            <xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://io.java/xsd"/>
            <xs:import namespace="http://deploy.core.appfactory.carbon.wso2.org/xsd"/>
            <xs:element name="ApplicationDeployerAppFactoryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppFactoryException" nillable="true" type="ax221:AppFactoryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unDeployArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unDeployArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTagNamesOfPersistedArtifacts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTagNamesOfPersistedArtifactsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax223:File"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getArtifactDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ApplicationDeployerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ApplicationDeployerException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deployArtifactByArtifactId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="autoTriggered" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="artifactId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployArtifactByArtifactIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax225:ArtifactDeploymentStatusBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="deployAction" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax225:ArtifactDeploymentStatusBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="ArtifactDeploymentStatusBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="deploymentServer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statusDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="successful" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="unDeployArtifactRequest">
        <wsdl:part name="parameters" element="ns:unDeployArtifact"/>
    </wsdl:message>
    <wsdl:message name="unDeployArtifactResponse">
        <wsdl:part name="parameters" element="ns:unDeployArtifactResponse"/>
    </wsdl:message>
    <wsdl:message name="ApplicationDeployerAppFactoryException">
        <wsdl:part name="parameters" element="ns:ApplicationDeployerAppFactoryException"/>
    </wsdl:message>
    <wsdl:message name="deployArtifactRequest">
        <wsdl:part name="parameters" element="ns:deployArtifact"/>
    </wsdl:message>
    <wsdl:message name="deployArtifactResponse">
        <wsdl:part name="parameters" element="ns:deployArtifactResponse"/>
    </wsdl:message>
    <wsdl:message name="getArtifactDetailsRequest">
        <wsdl:part name="parameters" element="ns:getArtifactDetails"/>
    </wsdl:message>
    <wsdl:message name="getArtifactDetailsResponse">
        <wsdl:part name="parameters" element="ns:getArtifactDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="getTagNamesOfPersistedArtifactsRequest">
        <wsdl:part name="parameters" element="ns:getTagNamesOfPersistedArtifacts"/>
    </wsdl:message>
    <wsdl:message name="getTagNamesOfPersistedArtifactsResponse">
        <wsdl:part name="parameters" element="ns:getTagNamesOfPersistedArtifactsResponse"/>
    </wsdl:message>
    <wsdl:message name="deployArtifactByArtifactIdRequest">
        <wsdl:part name="parameters" element="ns:deployArtifactByArtifactId"/>
    </wsdl:message>
    <wsdl:message name="deployArtifactByArtifactIdResponse">
        <wsdl:part name="parameters" element="ns:deployArtifactByArtifactIdResponse"/>
    </wsdl:message>
    <wsdl:message name="ApplicationDeployerException">
        <wsdl:part name="parameters" element="ns:ApplicationDeployerException"/>
    </wsdl:message>
    <wsdl:message name="getStageRequest">
        <wsdl:part name="parameters" element="ns:getStage"/>
    </wsdl:message>
    <wsdl:message name="getStageResponse">
        <wsdl:part name="parameters" element="ns:getStageResponse"/>
    </wsdl:message>
    <wsdl:portType name="ApplicationDeployerPortType">
        <wsdl:operation name="unDeployArtifact">
            <wsdl:input message="ns:unDeployArtifactRequest" wsaw:Action="urn:unDeployArtifact"/>
            <wsdl:output message="ns:unDeployArtifactResponse" wsaw:Action="urn:unDeployArtifactResponse"/>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:unDeployArtifactApplicationDeployerAppFactoryException"/>
        </wsdl:operation>
        <wsdl:operation name="deployArtifact">
            <wsdl:input message="ns:deployArtifactRequest" wsaw:Action="urn:deployArtifact"/>
            <wsdl:output message="ns:deployArtifactResponse" wsaw:Action="urn:deployArtifactResponse"/>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:deployArtifactApplicationDeployerAppFactoryException"/>
        </wsdl:operation>
        <wsdl:operation name="getArtifactDetails">
            <wsdl:input message="ns:getArtifactDetailsRequest" wsaw:Action="urn:getArtifactDetails"/>
            <wsdl:output message="ns:getArtifactDetailsResponse" wsaw:Action="urn:getArtifactDetailsResponse"/>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:getArtifactDetailsApplicationDeployerAppFactoryException"/>
        </wsdl:operation>
        <wsdl:operation name="getTagNamesOfPersistedArtifacts">
            <wsdl:input message="ns:getTagNamesOfPersistedArtifactsRequest" wsaw:Action="urn:getTagNamesOfPersistedArtifacts"/>
            <wsdl:output message="ns:getTagNamesOfPersistedArtifactsResponse" wsaw:Action="urn:getTagNamesOfPersistedArtifactsResponse"/>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:getTagNamesOfPersistedArtifactsApplicationDeployerAppFactoryException"/>
        </wsdl:operation>
        <wsdl:operation name="deployArtifactByArtifactId">
            <wsdl:input message="ns:deployArtifactByArtifactIdRequest" wsaw:Action="urn:deployArtifactByArtifactId"/>
            <wsdl:output message="ns:deployArtifactByArtifactIdResponse" wsaw:Action="urn:deployArtifactByArtifactIdResponse"/>
            <wsdl:fault message="ns:ApplicationDeployerException" name="ApplicationDeployerException" wsaw:Action="urn:deployArtifactByArtifactIdApplicationDeployerException"/>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <wsdl:input message="ns:getStageRequest" wsaw:Action="urn:getStage"/>
            <wsdl:output message="ns:getStageResponse" wsaw:Action="urn:getStageResponse"/>
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:getStageApplicationDeployerAppFactoryException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationDeployerSoap11Binding" type="ns:ApplicationDeployerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="unDeployArtifact">
            <soap:operation soapAction="urn:unDeployArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployArtifact">
            <soap:operation soapAction="urn:deployArtifact" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactDetails">
            <soap:operation soapAction="urn:getArtifactDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTagNamesOfPersistedArtifacts">
            <soap:operation soapAction="urn:getTagNamesOfPersistedArtifacts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployArtifactByArtifactId">
            <soap:operation soapAction="urn:deployArtifactByArtifactId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerException">
                <soap:fault use="literal" name="ApplicationDeployerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <soap:operation soapAction="urn:getStage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationDeployerSoap12Binding" type="ns:ApplicationDeployerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="unDeployArtifact">
            <soap12:operation soapAction="urn:unDeployArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployArtifact">
            <soap12:operation soapAction="urn:deployArtifact" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getArtifactDetails">
            <soap12:operation soapAction="urn:getArtifactDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTagNamesOfPersistedArtifacts">
            <soap12:operation soapAction="urn:getTagNamesOfPersistedArtifacts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployArtifactByArtifactId">
            <soap12:operation soapAction="urn:deployArtifactByArtifactId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerException">
                <soap12:fault use="literal" name="ApplicationDeployerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <soap12:operation soapAction="urn:getStage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationDeployerHttpBinding" type="ns:ApplicationDeployerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="unDeployArtifact">
            <http:operation location="unDeployArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployArtifact">
            <http:operation location="deployArtifact"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getArtifactDetails">
            <http:operation location="getArtifactDetails"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTagNamesOfPersistedArtifacts">
            <http:operation location="getTagNamesOfPersistedArtifacts"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployArtifactByArtifactId">
            <http:operation location="deployArtifactByArtifactId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStage">
            <http:operation location="getStage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationDeployer">
        <wsdl:port name="ApplicationDeployerHttpsSoap11Endpoint" binding="ns:ApplicationDeployerSoap11Binding">
            <soap:address location="https://localhost:9443/services/ApplicationDeployer.ApplicationDeployerHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ApplicationDeployerHttpsSoap12Endpoint" binding="ns:ApplicationDeployerSoap12Binding">
            <soap12:address location="https://localhost:9443/services/ApplicationDeployer.ApplicationDeployerHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ApplicationDeployerHttpsEndpoint" binding="ns:ApplicationDeployerHttpBinding">
            <http:address location="https://localhost:9443/services/ApplicationDeployer.ApplicationDeployerHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>