modules/components/org.wso2.carbon.appfactory.utilities/src/main/resources/echo.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://echo.services.core.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://echo.services.core.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://echo.services.core.carbon.wso2.org">
   <wsdl:documentation>echo</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://echo.services.core.carbon.wso2.org/xsd">
         <xs:complexType name="SimpleBean">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="a_r" nillable="true" type="xs:string"></xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="b_r" nillable="true" type="xs:string"></xs:element>
               <xs:element minOccurs="0" name="c" type="xs:int"></xs:element>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax22="http://echo.services.core.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://echo.services.core.carbon.wso2.org">
         <xs:import namespace="http://echo.services.core.carbon.wso2.org/xsd"></xs:import>
         <xs:element name="throwAxisFault">
            <xs:complexType>
               <xs:sequence></xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="throwAxisFaultResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoStringArrays">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="a" nillable="true" type="xs:string"></xs:element>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="b" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="c" type="xs:int"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoStringArraysResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SimpleBean"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoOMElement">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="omEle" nillable="true" type="xs:anyType"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoOMElementResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoString">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="in" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoStringResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoInt">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="in" type="xs:int"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="echoIntResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:int"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="echoStringArraysRequest">
      <wsdl:part name="parameters" element="ns:echoStringArrays"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="echoStringArraysResponse">
      <wsdl:part name="parameters" element="ns:echoStringArraysResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="echoOMElementRequest">
      <wsdl:part name="parameters" element="ns:echoOMElement"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="echoOMElementResponse">
      <wsdl:part name="parameters" element="ns:echoOMElementResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="echoIntRequest">
      <wsdl:part name="parameters" element="ns:echoInt"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="echoIntResponse">
      <wsdl:part name="parameters" element="ns:echoIntResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="throwAxisFaultRequest">
      <wsdl:part name="parameters" element="ns:throwAxisFault"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="throwAxisFaultResponse">
      <wsdl:part name="parameters" element="ns:throwAxisFaultResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="echoStringRequest">
      <wsdl:part name="parameters" element="ns:echoString"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="echoStringResponse">
      <wsdl:part name="parameters" element="ns:echoStringResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:portType name="echoPortType">
      <wsdl:operation name="echoStringArrays">
         <wsdl:input message="ns:echoStringArraysRequest" wsaw:Action="urn:echoStringArrays"></wsdl:input>
         <wsdl:output message="ns:echoStringArraysResponse" wsaw:Action="urn:echoStringArraysResponse"></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoOMElement">
         <wsdl:input message="ns:echoOMElementRequest" wsaw:Action="urn:echoOMElement"></wsdl:input>
         <wsdl:output message="ns:echoOMElementResponse" wsaw:Action="urn:echoOMElementResponse"></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoInt">
         <wsdl:input message="ns:echoIntRequest" wsaw:Action="urn:echoInt"></wsdl:input>
         <wsdl:output message="ns:echoIntResponse" wsaw:Action="urn:echoIntResponse"></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="throwAxisFault">
         <wsdl:input message="ns:throwAxisFaultRequest" wsaw:Action="urn:throwAxisFault"></wsdl:input>
         <wsdl:output message="ns:throwAxisFaultResponse" wsaw:Action="urn:throwAxisFaultResponse"></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoString">
         <wsdl:input message="ns:echoStringRequest" wsaw:Action="urn:echoString"></wsdl:input>
         <wsdl:output message="ns:echoStringResponse" wsaw:Action="urn:echoStringResponse"></wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="echoSoap11Binding" type="ns:echoPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
      <wsdl:operation name="echoStringArrays">
         <soap:operation soapAction="urn:echoStringArrays" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoOMElement">
         <soap:operation soapAction="urn:echoOMElement" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoInt">
         <soap:operation soapAction="urn:echoInt" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="throwAxisFault">
         <soap:operation soapAction="urn:throwAxisFault" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoString">
         <soap:operation soapAction="urn:echoString" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="echoSoap12Binding" type="ns:echoPortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
      <wsdl:operation name="echoStringArrays">
         <soap12:operation soapAction="urn:echoStringArrays" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoOMElement">
         <soap12:operation soapAction="urn:echoOMElement" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoInt">
         <soap12:operation soapAction="urn:echoInt" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="throwAxisFault">
         <soap12:operation soapAction="urn:throwAxisFault" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoString">
         <soap12:operation soapAction="urn:echoString" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="echoHttpBinding" type="ns:echoPortType">
      <http:binding verb="POST"></http:binding>
      <wsdl:operation name="echoStringArrays">
         <http:operation location="echoStringArrays"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoOMElement">
         <http:operation location="echoOMElement"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoInt">
         <http:operation location="echoInt"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="throwAxisFault">
         <http:operation location="throwAxisFault"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="echoString">
         <http:operation location="echoString"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="echo">
      <wsdl:port name="echoHttpsSoap11Endpoint" binding="ns:echoSoap11Binding">
         <soap:address location="https://localhost:8243/services/echo.echoHttpsSoap11Endpoint"></soap:address>
      </wsdl:port>
      <wsdl:port name="echoHttpSoap11Endpoint" binding="ns:echoSoap11Binding">
         <soap:address location="http://localhost:8280/services/echo.echoHttpSoap11Endpoint"></soap:address>
      </wsdl:port>
      <wsdl:port name="echoHttpSoap12Endpoint" binding="ns:echoSoap12Binding">
         <soap12:address location="http://localhost:8280/services/echo.echoHttpSoap12Endpoint"></soap12:address>
      </wsdl:port>
      <wsdl:port name="echoHttpsSoap12Endpoint" binding="ns:echoSoap12Binding">
         <soap12:address location="https://localhost:8243/services/echo.echoHttpsSoap12Endpoint"></soap12:address>
      </wsdl:port>
      <wsdl:port name="echoHttpEndpoint" binding="ns:echoHttpBinding">
         <http:address location="http://localhost:8280/services/echo.echoHttpEndpoint"></http:address>
      </wsdl:port>
      <wsdl:port name="echoHttpsEndpoint" binding="ns:echoHttpBinding">
         <http:address location="https://localhost:8243/services/echo.echoHttpsEndpoint"></http:address>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
